.ToDoCard {
    background-color: white;
    border-left: 4px solid green;
    margin: 0.02rem 1.5rem;
    border-bottom: 0.5px solid rgb(210, 202, 202);
    border-top: 0.5px solid rgb(216, 210, 210);
    text-align: left;
    
}
.ToDoCard.checked p, 
.ToDoCard.checked .card-title {
    text-decoration: line-through;
}

.card-title h5{
    text-align: left;
}

.tasks{
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
    margin: 0.2rem 1.5rem;
}
.tasks-1{
    text-align: left;
    margin: 1.2rem 1.5rem;
}
.tasks-1 .button-4{
    margin-bottom: 0.5rem;
}
.low-priority {
    background-color: rgb(135, 206, 155);
    color: white;
    display:flex;
}
.high-priority {
    background-color: rgb(232, 185, 185);
    color: white;
    display:flex;
}
.medium-priority {
    background-color: rgb(244, 244, 195);
    color: white;
    display:flex;
}
.medium{
    background-color: rgb(216, 187, 68);
}
.low{
    background-color: rgb(109, 176, 109);
}
.high{
    background-color: rgb(244, 114, 114);
}
/* .text-priority{
    display: inline;
} */

/* CSS */
.button-4 {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-4:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}